# metadata
include README.rst
include CHANGELOG.rst

# environment setup
include DeepJetCore/lxplus_env.sh
include DeepJetCore/gpu_env.sh

# makefile
include DeepJetCore/compiled/Makefile


# build scripts
include DeepJetCore/compiled/interface/*.h
include DeepJetCore/compiled/src/*.c
include DeepJetCore/compiled/src/*.cpp
include DeepJetCore/compiled/src/*.C

# scripts
graft DeepJetCore/bin

