# metadata
include README.rst
include CHANGELOG.rst

# environment setup
recursive-include DeepJetCore *.sh

# makefile
include DeepJetCore/compiled/Makefile

# build scripts
recursive-include DeepJetCore/compiled *.c *.C *.cpp *.h *.i *.py *.cxx

#shared libs
# recursive-include DeepJetCore/compiled *.so

# scripts
graft DeepJetCore/bin
